<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChatThem"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".chats.group_chat_info.view.AddMemActivity"
            android:exported="false" />
        <activity
            android:name=".chats.private_chat_info.view.FriendStatusActivity"
            android:exported="false" />
        <activity
            android:name=".chats.private_chat_info.view.ProfileDetailActivity"
            android:exported="false" />
        <activity
            android:name=".contacts.list_friend.view.ListFriendActivity"
            android:exported="false" />
        <activity
            android:name=".contacts.manage_request_friend.view.ManageReqFrieActivity"
            android:exported="false" />
        <activity
            android:name=".contacts.send_request.view.ProfileScanUserActivity"
            android:exported="false" />
        <activity
            android:name=".contacts.send_request.view.QRScanFriendActivity"
            android:exported="false" />
        <activity
            android:name=".chats.group_chat_info.view.ChangeInfoGroupActivity"
            android:exported="false" />
        <activity
            android:name=".chats.group_chat_info.view.MemberActivity"
            android:exported="false" />
        <activity
            android:name=".cryptophy.TransferDataActivity"
            android:exported="false" />
        <activity
            android:name=".profile.view.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".chats.group_chat_info.view.GroupChatInfoActivity"
            android:exported="false" />
        <activity
            android:name=".chats.private_chat_info.view.PrivateChatInfoActivity"
            android:exported="false" />
        <activity
            android:name=".chats.create_new_group_chat.view.CreateGroupChatActivity"
            android:exported="false" />
        <activity
            android:name=".chats.create_new_private_chat.view.CreatePrivateChatActivity"
            android:exported="false" />
        <activity
            android:name=".chats.chat.view.ChatActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".authentication.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".authentication.signup.signup.view.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".profile.view.QR_code"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>